<footer class="page-footer">
    <hr>
    <div class="row" style="margin-top: 3ex">
        <div class="large-4 medium-4 small-6 columns">
            <h4>Navigate</h4>
            <ul class="no-bullet">
                <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                <li><a href="{{ site.baseurl }}/index.html#general-information">General Information</a></li>
                <li><a href="{{ site.baseurl }}/index.html#important-dates">Important Dates</a></li>
                <li><a href="{{ site.baseurl }}/index.html#organizers">Organizers</a></li>
                <li><a href="{{ site.baseurl }}/call_for_papers.html">Call for Papers</a></li>
            </ul>
        </div>
        <div class="large-4 medium-4 small-6 columns">
            <h4>Previous Editions</h4>
            <ul class="no-bullet">
                <li><a href="http://conf.researchr.org/track/dbpl2015/dbpl2015">DBPL 2015</a></li>
                <li><a href="http://dbpl2013.inria.fr/">DBPL 2013</a></li>
                <li><a href="http://www.cs.cornell.edu/conferences/dbpl2011/">DBPL 2011</a></li>
                <li><a href="http://workshops.inf.ed.ac.uk/dbpl09/">DBPL 2009</a></li>
            </ul>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <h4>Partners</h4>
            <ul class="no-bullet">
                <li><a href="http://vldb.org/2017/">VLDB 2017</a></li>
            </ul>
            <h4>Social</h4>
            <ul class="no-bullet">
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </div>
</footer>
