<div class="top-bar">
    <div class="row">
        <div>
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li>
                        <a href="{{ site.baseurl }}/index.html"><strong>{{ site.title }}</strong></a>
                        <ul class="menu vertical">
                            <li><a href="{{ site.baseurl }}/index.html#general-information">General Information</a></li>
                            <li><a href="{{ site.baseurl }}/index.html#important-dates">Important Dates</a></li>
                            <li><a href="{{ site.baseurl }}/index.html#organizers">Organizers</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="call_for_papers.html">Call for Papers</a>
                        <!--<ul class="menu vertical">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>-->
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="http://vldb.org/2017/">VLDB 2017 Website</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>